.want-to-read{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.want-to-read ul{
      display: flex;
        width: 90%;
    height: 400px;
    justify-content: space-evenly;
    background-color: rgb(165, 100, 14);
    border-radius: 20px;
}