.book-list{
    width: 100%;
    display: flex;
    justify-content: center;
}



main{
    width: 100%;
    height: auto;
 
}
main.ul{
    display: flex;
    text-decoration: none;
    width: 100%;
    height: auto;
    justify-content:space-around;
   
}
main li {
    width: 100%;
    list-style: none;
}

.search {
    width: 100%;
    height: auto;
    display: block;
   justify-content: center;
   margin-top: 10px;
    
  
}

.search-container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 150px;
}

/* .books-menu{
    width: 100%;
    height: auto;
    display: flex;
      justify-content: center;
      
} */




@media  (max-width: 600px){
    .book-list{
        width:100%;
    }
    /* .books-menu{
       
          margin-top: -10px;
    } */
    
  }

