header {
  color: #ffffff;
  width: 100%;
  text-align: center;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box {
  color: #ffffff;
  height: 100px;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-family: "Lalezar", cursive;
  font-size: 250%;
  width: 80%;
  text-align: start;
  color: #394c82;
}

.books-search-button {
  width: 8%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #394c82;
  border-radius: 50px;
  cursor: pointer;
  transition: cubic-bezier(0, 1.15, 0.3, 1.06) 0.5s;
}
.books-search-button:hover {
  box-shadow: 0px 4px 6px 0px #bdb4b7;
  transition: cubic-bezier(0, 1.15, 0.3, 1.06) 0.5s;
  background-color: #394c82;
}

.books-search-button p {
  margin-right: 7px;
  font-size: 100%;
}
.books-search-icon {
  font-size: 150%;
}
.books-search-link {
  width: 100%;
  font-size: 190%;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 600px) {
  header {
    height: 100px;
  }
  h1 {
    font-size: 150%;
  }
  .books-search-button {
    width: 50%;
  }
}

@media (max-width: 1025px) {
  .books-search-button {
    width: 20%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .books-search-button {
    width: 12%;
    height: 45px;
  }
  .books-search-link {
    font-size: 150%;
  }
}
